#mc_embed_signup {
  font-family: 'Inter', sans-serif; /* Default font */
  background-color: white; /* White background for the form */
  position: fixed; /* Fixed position */
  top: 0; /* Start off above the screen */
  left: 50%; /* Center the modal */
  transform: translateX(-50%);
  width: 80%; /* Responsive width */
  max-width: 600px; /* Max width */
  z-index: 1000; /* Ensure it's above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -150%; /* Initially hide the modal */
  transition: margin-top 0.5s; /* Slide down transition */
  padding: 2em;
}

#mc_embed_signup.active {
  margin-top: 5vh; /* Slight adjustment for mobile */
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#mc_embed_signup h2 {
  color: #333;
  margin: 0 0 20px; /* Added bottom margin */
  padding: 0 20px; /* Responsive padding */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2em; /* Scalable font size */
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1em; /* Scalable font size */
  color: #333;
  padding: 0 20px; /* Responsive padding */
}

#mc_embed_signup .mc-field-group {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.mc-field-group input {
  width: 100%; /* Full width of parent */
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

#mc_embed_signup .button, .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 1em 2em;
  text-transform: uppercase !important;
  font-weight: bold;
  margin: 15px auto;
  display: block;
  cursor: pointer;
  font-family: 'Inter', sans-serif !important;
  font-size: 1em;
}

#block-1877513d7b73d107c191 {
  bottom: 2em; /* Adjust as needed */
}

#mc_embed_close {
  position: absolute;
  padding: 8px;
  cursor: pointer;
  top: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  background-color: black;
  color: white;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
}

/* Error Response Styles */
#mc_embed_signup .response {
  display: none;
  padding: 10px;
  margin: 10px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
}

@media screen and (min-width: 768px) {
  .sqs-block-embed .sqs-block-content iframe {
    width: 560px;
    height: 315px
  }
}

/* Newsletter email */
.sqs-block-newsletter .newsletter-form-field-element {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* newsletter button */
.newsletter-form .newsletter-form-button {
  padding-top: 9px !important;
  padding-bottom: 2px !important;
}

#block-76e4ef96d076fc81a8f4 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

#block-15531a44e8e775199138 h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

#block-15531a44e8e775199138 ul li p, #block-15531a44e8e775199138 em {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

#block-15531a44e8e775199138 a {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

section[data-section-id="65f357694eb09b342fa30634"] .section-background {
  background-color: #0C6E93;
}

section[data-section-id="65f3592948f3575fa0c62698"] .section-background {
  background-color: #0E99D0;
}

section[data-section-id="65f356b0cc21e832172a6d26"] .section-background {
  background-color: #fff;
}

section[data-section-id="64a8c101a846cd50ddc460ea"] {
  display: none;
}

section[data-section-id="65f356b0cc21e832172a6d26"] .section-background {
  background-color: #94C1BA;
}

.newsletter-block .newsletter-form-field-element, .newsletter-block .newsletter-form-button {
  padding: 0.75rem 0.75rem !important;
  line-height: 1rem !important;
}

html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.no-scroll{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*modal message styling*/

#mc-message p {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

#mc-message p.success {
  background-color: #4CAF50; /* Green */
}

#mc-message p.error {
  background-color: #f44336; /* Red */
}

/* Overlay covering the entire screen */
.overlay.active {
  display: block; /* Show overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensure it's below the modal content but above other content */
  overflow-y: auto; /* Allow scrolling within the overlay */
}

/* Full-screen modal adjustments */
@media screen and (max-width: 599px), screen and (max-height: 599px) {
  #mc_embed_signup {
    display: none;
  }

  #mc_embed_signup.active {
    max-width: 100%;
    display: block;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0; /* Align to the far left */
    transform: none; /* Remove any transform */
    width: 100%; /* Full width */
    height: 100%; /* Full height, ensuring full screen coverage */
    overflow-y: auto; /* Enable scrolling if content exceeds screen height */
    padding: 20px; /* Appropriate padding */
    box-sizing: border-box; /* Include padding in width/height calculations */
    z-index: 1000; /* Above the overlay */
  }

  /* Ensuring the close button is visible and appropriately positioned */
  #mc_embed_close {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1001; /* Ensure it's above the modal content */
    /* Styling for visibility */
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Ensure input and button are appropriately styled for mobile */
  #mc_embed_signup .button {
    padding: 10px; /* Adjust for touch friendliness */
    font-size: 16px; /* Readability on small screens */
    width: auto; /* Ensure full width within container */
    font-family: 'Inter', sans-serif !important;
  }


  /* Ensure input and button are appropriately styled for mobile */
  .mc-field-group input {
    padding: 10px; /* Adjust for touch friendliness */
    font-size: 16px; /* Readability on small screens */
    width: 100%; /* Ensure full width within container */
  }
}
